<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakshay.quiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quizzup"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".quiz_contest.authentication.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".quiz_contest.FinalActivity"/>
        <activity android:name=".quiz_contest.GameStart"/>
        <activity android:name=".quiz_contest.HighScores"/>
        <activity android:name=".quiz_contest.MenuPage"/>
        <activity android:name=".quiz_contest.QuizActivity"/>
        <activity android:name=".quiz_contest.authentication.FirstPage"/>
        <activity android:name=".quiz_contest.authentication.LoginScreen"/>
        <activity android:name=".quiz_contest.authentication.RegisterScreen"/>

    </application>

</manifest>